---
import { cn } from "@/lib/utils";
import { db } from "@/db/db";
import * as schema from "@/db/schema";
import Layout from "../../layouts/Layout.astro";
const servers = await db
  .select({ name: schema.servers.name, mark: schema.servers.mark })
  .from(schema.servers);
---

<Layout title="Status • Team SMP">
  <div class="h-full pt-6">
    <div class="grid place-items-center w-full h-full">
      <div class="flex flex-col w-full md:w-1/4 gap-2">
        {
          servers.map((server) => (
            <div
              class={cn(
                " p-2 flex flex-row justify-between font-mono font-bold text-2xl",
                server.mark == "up" ? "bg-emerald-600"
                : server.mark == "autodown" ? "bg-amber-600"
                : server.mark == "down" ? "bg-zinc-600"
                : "bg-red-600"
              )}
            >
              <span>{server.name}</span>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
