---

---

<div
  class="text-center flex flex-col w-full md:w-2/3 lg:w-1/3 border border-zinc-600 p-4 mt-4"
>
  <span class="text-4xl font-bold text-yellow-200 font-mono">Oops</span>
  <span>Looks like this page isn't finished!</span>
  <span>Check back in the next waystone update</span>
  <span
    >In the meantime, why not <a
      href="/"
      class="underline hover:text-emerald-300">go back home</a
    >?</span
  >
</div>
